/.NET/AssemblyInfoTest/AssemblyInfoTest/bin
/.NET/AssemblyInfoTest/Core/bin/Debug
/.NET/AssemblyInfoTest/DataAccess/bin/Debug
/.NET/AssemblyInfoTest/AssemblyInfoTest/obj/Debug
/.NET/AssemblyInfoTest/Core/obj/Debug
/.NET/AssemblyInfoTest/DataAccess/obj/Debug
/.NET/AssemblyInfoTest/AssemblyInfoTest/*.user
